[user]
	name = jiska
	email = jiska.ym+github@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
	grep = auto
[alias]
	l = log --graph --pretty='format:%C(yellow)%h%Cblue%d%Creset %s %C(black bold)%an, %ar%Creset'
	st = status
	df = diff
	dfs = diff --staged
	grc = grep --count
	grl = grep --files-with-matches
	ci = commit --verbose
	co = checkout
	cm = checkout master
[core]
	whitespace = trailing-space,space-before-tab
	excludesfile = /home/jiska/.gitignore
[push]
	default = current
