[user]
	name = jiska
	email = jiska.ym+github@gmail.com
[color]
	ui = auto
[alias]
	b = branch
	ci = commit --verbose
	co = checkout
	cm = checkout master
	cp = cherry-pick
	d = diff
	ds = diff --staged
	grc = grep --count
	grl = grep --files-with-matches
	l = log --graph --pretty='format:%C(yellow)%h%Cblue%d%Creset %s %C(black bold)%an, %ar%Creset'
	st = status
	sd = svn dcommit --rmdir --interactive
	sf = svn fetch
	sr = svn rebase
[core]
	whitespace = trailing-space,space-before-tab
	excludesfile = ~/.gitignore
	pager = less -r
	quotepath = false
	precomposeunicode = true
[pager]
	status = true
[push]
	default = tracking
[branch]
	autosetuprebase = always
[merge]
	ff = false
[pull]
	rebase = true
